/* global{ */
* {
    box-sizing: border-box;
}
li {
    list-style: none;
}

li a {
    text-decoration: none;
}

body {
    font-size: 18px;
    font-family: "Public Sans";
    overflow-x: hidden;
    background: hsl(0, 0%, 98%);
    
}

.header-inside,
.features-inside,
.articles-inside,
.footer-inside {
    width: 80%;
    margin: auto;
}

/* header  */
header {
    background: hsl(0, 0%, 100%);
    position: fixed;
    width: 100%;
    z-index: 1;

}

.header-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header li {
    margin: 0 1em 0 1em;
    padding: 2.09em 0;
}

header .nav li a:hover {
    padding-bottom: 1.5em;
    border-bottom: 0.3em solid hsl(233, 8%, 62%);
    color: hsl(233, 26%, 24%);
}

header .nav ul {
    display: flex;
    flex-direction: colum;
}

header .nav a {
    color: hsl(233, 8%, 62%);
}

/* showcase  */
.menu-icon{
    display: none;
}
.remove-menu{
    display: none;
}
/* .showcase-outer {
    background: hsl(0, 0%, 98%);
    background: url('./images/bg-intro-desktop.svg') no-repeat;
    background-size: 70%;
    background-position: 53em -10em;
    overflow: hidden;
} */

.showcase-inside {
    display: flex;
    justify-content: space-between;
    background: url('./images/bg-intro-desktop.svg') no-repeat;
    background-size: 70%;
    background-position: 53em -10em;
    
    
}
.showcase-inside .mockups-image{
    box-sizing: content-box;
    flex-basis: 60%;
    height:50em;
    background:url('./images/bg-intro-desktop.svg') no-repeat;
    background-size: 70%;
    background-position: 53em -10em;
    position:relative;
    
    
    /* margin-bottom:7em; */
}
.mockups-image .mockup{
    position: relative;
    top:-2.3em;
    left:21em;

    height:60em;
    width:49em;
}
.mockups-image .mockup-media{
    display: none;
}
.next-generation{
    display: inline-block;
    flex-basis:40%;
    padding-left:9em;
}

.next-generation .request-button {
    display: inline-block;
}


.showcase-inside h1 {
    font-size: 4em;
    color: hsl(233, 26%, 24%);
    padding-top: 4em;
}

.next-generation p {
    margin: 1.5em 0 1.5em 0;
    width: 75%;
    color: hsl(233, 8%, 62%);
}

/* feautures  */
.features-outer {
    background: hsl(220, 16%, 96%);
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 5em 0;
}

.features-header h2 {
    font-size: 2em;
    color: hsl(233, 26%, 24%);
}

.features-header p {
    width: 45%;
    padding: 3em 0 0 0;
    color: hsl(233, 8%, 62%);
}

.features-header h2 {
    padding: 2em 0 0 0;

}

.feature {
    flex-basis: 23%;
}

.feature h3 {
    font-size: 1.3em;
    padding: 1em 0 1em 0;
    color: hsl(233, 26%, 24%);
}

.feature p {
    color: hsl(233, 8%, 62%);
}

/* articles  */
.articles-outer {
    background: hsl(0, 0%, 98%);
    padding-top: 4.7em;
}

.articles {
    display: flex;
    justify-content: space-between;
    padding: 3em 0 4.5em 0;
    
}

.article {
    flex-basis: 23%;
    padding: 2em 0;
    min-height:2em;
}

.article img {
    padding-bottom: 1em 0 2em 0;
    width: 100%;
    height: 60%;
}

.articles-inside h2 {
    font-size: 2em;
    color: hsl(233, 26%, 24%);
}

.article h5 {
    font-size: 0.8em;

}

.article h3 {
    color: hsl(233, 26%, 24%);
}

.article p,
.article h5 {
    width: 90%;
    padding: auto;
    padding: 0.5em 0;
    color: hsl(233, 8%, 62%);
}

.article a {
    text-decoration: none;
}

.article a:hover h3 {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}

/* footer  */
footer {
    
    background: hsl(233, 26%, 24%);
}

.footer-inside {
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-social-nav {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
}

footer li a {
    color: hsl(220, 16%, 96%);
}

footer .nav li a {
    display: inline-block;
    margin: 0.4em 0 0.3em 0;
}

.brand-social {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.request-attribution {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.9em;
}
.request-attribution p{
    color:hsl(233, 8%, 62%);
}

footer .nav a:hover {
    color: hsl(233, 8%, 62%);
}

footer .brand {
    filter: invert(100%);
    filter: brightness(100);
}

.social img {
    padding: 0 0 0 0.3em;
}

.social a:hover img {
    filter: opacity(30%);
    filter: brightness(.6);
}

/* request-button  */
.request-button a {
    text-decoration: none;
}

.request-button {
    padding: 0.7em 1.3em;
    background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 1.4em;
}

.attribution,
footer p,
footer a {
    color: hsl(0, 0%, 100%);
}

footer p {
    font-size: 0.7em;
}
/* ---------------------------------------- */
                /* mobile  */
/* ---------------------------------------- */

