@media (max-width:500px) {
    header::after{
        content: "";
        height: 30em;
        width: 100vw;
        background: url('./images/bg-intro-mobile.svg') no-repeat;
        position:absolute;
        top:-1.8em;
        left: 0em;
        z-index: -1;

        background-size: 100%;
    }

    /* header  */
    header {
        position:static;
        padding: 0 0;
        
    }

    header .nav {
        display: none;

    }

    .header-inside,
    .showcase-inside,
    .features-inside,
    .articles-inside,
    .footer-inside {
        max-width: 375px;
        width: 85%;
        margin:auto;
    }

    /* menu   */

    .menu{
        margin-top: 4.6em;
        padding-top: 2em;
        margin-bottom: 10em;
        width:15em;
        height: 13em;
        background: hsl(0, 0%, 100%);
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 5px 60px 20px hsl(233, 26%, 24%);
        
    }
    .menu li{
        padding-bottom: 0.6em;
    }


    .menu-icon {
        display: block;
    }
    .menu-icon .close{
        display: none;
    }
    header .request-button a {
        display: none;
    }

    header .request-button {
        /* display: none; */
        padding:0;
        background: none;
        border-radius: 0;
        margin:1em 1em;
    }
    .request-button input{
        display: none;
    }
    .request-button input:checked + .close + .hamburger{
        display:none;
    }
    .request-button input:checked + .close{
        display: inline-block;
    }

    /* showcase  */
    .remove-image{
        display: none;
    }
    .remove-menu{
        display: none;
    }

    .showcase-inside {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* flex-wrap: wrap;; */
        padding-bottom: 3em;
        padding-top:0;
    }
    .showcase-inside .next-generation{
        order:2;
        padding-top:0em;
    }
    .showcase-inside .mockups-image{
        order:1;
    }
    .mockups-image .mockup{
        display: none;
    }
    .mockups-image .mockup-media{
        z-index: -1;
        display: block;
        width:100%;
        margin: auto;
        position:relative;
        top:-6.5em;
    }

    .showcase-inside h1 {
        font-size: 2em;
    }

    .next-generation {
        padding-top: 8em;
        padding-left:0;
    }
    .next-generation h1{
        padding: 0em;
        margin-top:-3em;
    }

    .next-generation,
    .next-generation p {
        width: 100%;
        text-align: center;

    }

    .next-generation .request-button {
        display: block;
        width: 64%;
        margin: 0 auto;

    }

    /* features  */
    .features {
        flex-direction: column;
    }

    .articles {
        flex-direction: column;
        align-items: center;
    }

    .features-header p {
        width: 100%;
    }

    .features-header {
        width: 100%;
        text-align: center;
    }

    .feature {
        width: 100%;
        text-align: center;
    }

    /* articles  */

    .article {
        width: 100%;
    }

    .article img {
        width: 100%;
        height: 60%;
    }

    .articles-inside h2 {
        text-align: center;
    }

    .article h5 {
        width: 80%;
        text-align: center;

    }

    .article a {
        width: 80%;
        text-align: center;
    }

    .article p,
    .article h5 {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .article a {
        text-decoration: none;
    }

    .article a:hover h3 {
        text-decoration: none;
        color: hsl(233, 8%, 62%);
    }




    /* footer  */
    footer {
        padding-top: 2em;
    }

    .footer-inside,
    .brand-social-nav {
        flex-direction: column;
        align-items: center;
    }

    footer .nav {
        text-align: center;
    }

    footer .request-attribution {
        align-items: center;
    }

    .brand-social {
        gap: 2em;
    }

    .social {
        padding-bottom: 2em;
    }

    /* request-button */

    .request-button {
        margin: 2em 0;
    }

    .request-attribution {
        padding-bottom: 1em;
    }

}